<?php
return [
    'smtp_host' => 'smtp.gmail.com',
    'smtp_port' => 587,
    'smtp_username' => 'your_email@gmail.com',
    'smtp_password' => 'your_app_password',
    'smtp_from_address' => 'your_email@gmail.com',
    'smtp_from_name' => '공지사항 알리미'
];
